<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.clientGoods.dao.ClientGoodsDao">

    <resultMap id="twoClassifyGoods" type="com.xzsd.app.clientGoods.entity.TwoClassifyInfo">
        <id column="classifyId" property="classifyId"/>
        <result column="classifyName" property="classifyName"/>
        <collection property="goodsList" ofType="com.xzsd.app.clientGoods.entity.GoodsVo">
            <id column="goodsCode" property="goodsCode"/>
            <result column="goodsName" property="goodsName"/>
            <result column="goodsImagePath" property="goodsImagePath"/>
            <result column="goodsPrice" property="goodsPrice"/>
        </collection>
    </resultMap>

    <!--查询商品信息详情接口-->
    <select id="getGoods" parameterType="java.lang.String" resultType="com.xzsd.app.clientGoods.entity.GoodsInfo">
        select
            goods_code goodsCode,
            goods_name goodsName,
            isbn isbn,
            introduce goodsDescribe,
            selling_price goodsPrice,
            goods_image goodsImagePath,
            rating_star goodsEvaluateScore,
            author goodsAuthor,
            press goodsPress
        from t_sys_goods
        where is_delete = 0
        and goods_code = #{goodsCode}
    </select>

    <!--查询商品评价列表-->
    <select id="listGoodsEvaluates" parameterType="com.xzsd.app.clientGoods.entity.GoodsEvaluateInfo" resultType="com.xzsd.app.clientGoods.entity.GoodsEvaluateInfo">
        select
            b.user_account userAcct,
            a.evaluate_content evaluateContent,
            a.evaluate_star evaluateScore,
            a.create_time createTime
        from t_goods_evaluate a
        LEFT JOIN t_sys_user b
        ON a.create_id = b.user_code
        where a.is_delete = 0
        and a.goods_code = #{goodsCode}
        <if test="evaluateScore == 1">
            and a.evaluate_star = 0
            or a.evaluate_star = 1
        </if>
        <if test="evaluateScore == 3">
            and a.evaluate_star = 2
            or a.evaluate_star = 3
        </if>
        <if test="evaluateScore == 5">
            and a.evaluate_star = 4
            or a.evaluate_star = 5
        </if>
    </select>

    <!--查询一级商品分类列-->
    <select id="listOneGoodsClassify" resultType="com.xzsd.app.clientGoods.entity.OneClassifyInfo">
        select
            sort_code classifyId,
            sort_name classifyName
        from t_goods_sort
        where is_delete = 0
        and parent_code = 0
        order by create_time DESC
    </select>

    <!--查询二级商品分类以及商品-->
    <select id="listGetClassGoods" parameterType="java.lang.String" resultMap="twoClassifyGoods">
        select
            t1.sort_code classifyId,
            t1.sort_name classifyName,
            t2.goods_code goodsCode,
            t2.goods_name goodsName,
            t2.goods_image goodsImagePath,
            t2.selling_price goodsPrice
        from t_goods_sort t1
        LEFT JOIN t_sys_goods t2
        ON (t1.sort_code = t2.second_sort_id
        and t2.is_delete =0)
        where t1.is_delete = 0
        and t1.parent_code = #{classifyId}
        order by t2.create_time DESC
    </select>
</mapper>