<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.clientShopCart.dao.ClientShopCartDao">

    <!--查询商品是否已存在于购物车中-->
    <select id="countShopCartGoods" parameterType="com.xzsd.app.clientShopCart.entity.ShopCartInfo" resultType="java.lang.String">
        select shop_cart_id
        from t_shopping_cart
        where is_delete = 0
        and create_id = #{createId}
        and goods_code = #{goodsCode}
    </select>

    <!--查询商品库存-->
    <select id="getGoodsStock" parameterType="com.xzsd.app.clientShopCart.entity.ShopCartInfo" resultType="int">
        select stock goodsStock
        from t_sys_goods
        where is_delete = 0
        <if test="goodsCode != null and goodsCode != ''">
            and goods_code = #{goodsCode}
        </if>
        <if test="shopCartId != null and shopCartId != ''">
            and goods_code = (select goods_code from t_shopping_cart where shop_cart_id = #{shopCartId} and is_delete = 0)
        </if>
    </select>

    <!--增加购物车商品数量-->
    <update id="updateGoodsCount" parameterType="com.xzsd.app.clientShopCart.entity.ShopCartInfo">
        update t_shopping_cart
        set
            goods_count = goods_count + #{cartGoodsCount},
            update_id = #{updateId},
            update_time = now(),
            version = version + 1
        where shop_cart_id = #{shopCartId}
    </update>

    <!--新增购物车-->
    <insert id="addShoppingCart" parameterType="com.xzsd.app.clientShopCart.entity.ShopCartInfo">
        insert into t_shopping_cart
        (shop_cart_id,
         goods_code,
         goods_count,
         is_delete,
         create_id,
         create_time,
         update_id,
         update_time,
         version)
        values
         (#{shopCartId},
          #{goodsCode},
          #{cartGoodsCount},
          0,
          #{createId},
          now(),
          #{updateId},
          now(),
          0)
    </insert>


    <!--查询购物车-->
    <select id="listShoppingCarts" parameterType="java.lang.String" resultType="com.xzsd.app.clientShopCart.entity.ShopCartVo">
        select
            t1.shop_cart_id shopCartId,
            t1.goods_code goodsCode,
            t2.goods_name goodsName,
            t2.goods_image goodsImagePath,
            t2.selling_price goodsPrice,
            t1.goods_count cartGoodsCount
        from t_shopping_cart t1
        LEFT JOIN t_sys_goods t2
        ON t1.goods_code = t2.goods_code
        where t1.is_delete = 0
        and t1.create_id = #{userId}
    </select>

    <!--修改购物车-->
    <update id="updateShoppingCart" parameterType="com.xzsd.app.clientShopCart.entity.ShopCartInfo">
        update t_shopping_cart
        set
            goods_count = #{cartGoodsCount},
            update_id = #{updateId},
            update_time = now(),
            version = version + 1
        where shop_cart_id = #{shopCartId}
    </update>

    <!--删除购物车-->
    <update id="deleteShoppingCart" parameterType="com.xzsd.app.clientShopCart.entity.ShopCartInfo">
        update t_shopping_cart
        set
            is_delete = 1,
            update_id = #{userId},
            update_time = now(),
            version = version + 1
        where shop_cart_id in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>